.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(31, 31, 31);
    border: 1px solid rgb(24, 24, 24);
    height: 15vh;
    width: 100%;
}

.main-header h1 {
    font-size: xx-large;
    color: red;
    text-decoration: underline;
    text-shadow: 3px 3px black;
}

.main-header img {
    border: 3px solid rgb(255, 0, 0);
    border-radius: 100%;
    box-shadow: 4px 4px black;
    transition: 1s;
}
.main-header img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.sub-header {
    border: 1px solid rgb(24, 24, 24);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    height: 10vh;
    width: 100%;
}

.sub-header nav {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vh;
}

.sub-header button {
    background-color: rgb(255, 0, 0);
    font-size: larger;
    border-radius: 15%;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    text-decoration: none;
    transition: 1s;
}

.sub-header button:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: 0.3s;
}

.sub-header button:active {
    color: rgb(255, 174, 174);
    transform: scale(1.08);
    transition: 0.5s;
}



.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-content {
    border: 1px solid rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(71, 71, 71);
    height: 70vh;
    width: 75%;
}

.main-content h2 {
    margin-top: 6vh;
    font-size: xx-large;
    color: red;
}

.main-content p {
    font-size: large;
    color: white;
}

.sidebar {
    border: 1px solid rgb(24, 24, 24);
    background-color: rgb(63, 65, 65);
    height: 70vh;
    width: 25%;
}

.side-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.side-buttons button {
    background-image: linear-gradient(red, rgb(253, 56, 56));
    border: 2px solid black;
    box-shadow: 5px 5px black;
    height: 10vh;
    width: 40vh;
    transition: 0.5s;
}

.side-buttons button:hover {
    cursor: pointer;
    color: rgb(255, 63, 63);
    transform: scale(1.05);
    transition: 0.5s;
}

.side-buttons button:active {
    cursor: grab;
    background-image: linear-gradient(rgb(255, 112, 112), red);
    transition: 0.5s;

}

.rodape {
    border: 1px solid rgb(24, 24, 24);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    height: 5vh;
    width: 100%;
}

.rodape p {
    color: rgb(255, 0, 0);
}